@charset "UTF-8";

#sousuo{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#footer1{
  width: 100%;
  height: 250px;
  top: 60%;
  position: absolute;
  transform: translateX(0%);
  background: url(img/huaji.jpg) center;
  background-repeat: no-repeat;
}

#footer{
  top: 100%;
  width: 100%;
  text-align: center;
  position: absolute;

}
